<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/monitoramento.css">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Micro+5&display=swap" rel="stylesheet">
  <title>Monitoramento de Ramais</title>

</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-center">MONITOR DE RAMAIS</h1>
    </div><br>
    <div class="row justify-content-center">
      <div id="cards">
      </div>
    </div>
  </div>

  <div class="container">
    <p>
      
    </p>
  </div>

  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/monitoramento.js"></script>

</body>

</html>